# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
Deployments _ Amplify _ us-east-1_files/5d3629a64564e611bbeae9b3045be424-e9ebf1d2d9d9c14a684cec1c80e127eb.svg
Deployments _ Amplify _ us-east-1_files/9d0ab658d6a74be651de4f37a28630f0-570c32c7680f5343d686bfcf91e11b61.svg
Deployments _ Amplify _ us-east-1_files/35a1ca1df0fa4e0ca9553362bffcf73c9edba37ad858476fb3b0fc03d4026bb3.js
Deployments _ Amplify _ us-east-1_files/2090.css
Deployments _ Amplify _ us-east-1_files/4839.css
Deployments _ Amplify _ us-east-1_files/3918767c49f0151791236f3b99d1ce7c-13bf23cb4a6d38bb77b1a9030fe9d925.svg
Deployments _ Amplify _ us-east-1_files/a5238b9d91f54e16b72e4d2943abf4ff8567cfc1bb77497b8b253a83333ade79.js
Deployments _ Amplify _ us-east-1_files/AWS-UI-Widget-HelpPanel-Loader.js
Deployments _ Amplify _ us-east-1_files/awsc-aperture-form-widget.js
Deployments _ Amplify _ us-east-1_files/awsc-head.js
Deployments _ Amplify _ us-east-1_files/b5c87c140628d6200f5ffeae85895b67-eed4319c5eaa4b84741dd26adcad7c1a.svg
Deployments _ Amplify _ us-east-1_files/b410f5e2f0000a534e3cc915139e6b53-d10eb3311d6c3acdca6b8b284e90bb0d.svg
Deployments _ Amplify _ us-east-1_files/c0828e0381730befd1f7a025057c74fb-43acc0496e64afba82dbc9ab774dc622.svg
Deployments _ Amplify _ us-east-1_files/commons.js
Deployments _ Amplify _ us-east-1_files/ConsoleV2.css
Deployments _ Amplify _ us-east-1_files/d88319dfa5d204f019b4284149886c59-7d586ea82f792b61a8c87de60565133d.svg
Deployments _ Amplify _ us-east-1_files/iFrame.html
Deployments _ Amplify _ us-east-1_files/iFrame(1).html
Deployments _ Amplify _ us-east-1_files/iFrame(2).html
Deployments _ Amplify _ us-east-1_files/index.js
Deployments _ Amplify _ us-east-1_files/index(1).js
Deployments _ Amplify _ us-east-1_files/main.js
Deployments _ Amplify _ us-east-1_files/module.css
Deployments _ Amplify _ us-east-1_files/module(1).css
Deployments _ Amplify _ us-east-1_files/oauthHandler.js
Deployments _ Amplify _ us-east-1_files/polaris-global-css.css
Deployments _ Amplify _ us-east-1_files/remoteEntry.js
Deployments _ Amplify _ us-east-1_files/remoteEntry(1).js
Deployments _ Amplify _ us-east-1_files/remoteEntry(2).js
Deployments _ Amplify _ us-east-1_files/standalone.css
Deployments _ Amplify _ us-east-1_files/vendors.css
Deployments _ Amplify _ us-east-1_files/vendors.js
Deployments _ Amplify _ us-east-1.html
package-lock.json
package-lock.json
